[flake8]
max-line-length = 100
max-complexity = 6
# http://flake8.pycqa.org/en/2.5.5/warnings.html; #warning-error-codes
ignore =
  E501
  # line break before binary operator
  W503
  # Missing docstring
  D100
  D101
  D102
  D103
  D104
  D105
  D106
  D107

per-file-ignores =
  manage.py:INP001
